body {
    margin: 0px;
    padding: 0px;
    font-family: Ubuntu;
}

#overlay {
    scroll-behavior: smooth;
    display: flex;
    background-image: url("/bg/bcaindex.jpg");
    height: 1000px;
    margin: 0px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%;
    z-index: -999;
    min-height: 100%;
}

.msc {
    width: 900px;
    height: 350px;
    font-size: 20px;
    padding: 30px;
    margin: 100px;
}

.msc1 {
    width: 800px;
    height: 350px;
    font-size: 20px;
    padding: 30px;
    margin: 100px;
}

.msc2 {
    width: 700px;
    height: 900px;
    font-size: 20px;
    padding: 30px;
    margin: 100px;
}

.bca1 {
    width: 1000px;
    height: 350px;
    font-size: 20px;
    padding: 30px;
    margin: 100px;
}

#con-msc {
    color: white;
    background-color: rgba(3, 2, 3, 0.7);
    margin: 100px;
}

#con-bca {
    color: white;
    margin: 100px;
    background-color: rgba(3, 2, 3, 0.7);
}

.heading {
    color: #141414;
    background-color: rgba(255, 255, 255, 0.5);
    width: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#title {
    margin-right: 250px;
}

#overlay1 {
    scroll-behavior: smooth;
    display: flex;
    background-image: url("/bg/mscindex.jpg");
    height: 1000px;
    margin: 0px;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%;
    z-index: -1000;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    z-index: 100;
}

li {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    z-index: 100;
}

h1 {
    margin: 20px;
    padding: 30px;
}

a {
    text-decoration: none;
}

button {
    background-color: #f2f2f4;
    border-radius: 15px;
    box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.5);
    width: 140px;
    align-content: center;
    height: 60px;
    border: none;
    color: #2d2d2d;
    font-family: 'Roboto Condensed',
        sans-serif;
    font-size: 20px;
    transition: 0.5s all ease-in-out;
}

button:hover {
    border-radius: 35px;
    color: #f2f2f4;
    background-color: #2d2d2d;
    margin-top: -100px;
}

#hi1 {
    font-family: 'Roboto Condensed',
        sans-serif;
    color: #2d2d2d;
    margin: 0px;
    padding: 6px;
    font-size: 15px;
    border-radius: 5px;
    height: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in;
}

#hi1:hover {
    border-radius: 15px;
}

#hi2 {
    font-family: 'Roboto Condensed',
        sans-serif;
    margin: 0px;
    color: #2d2d2d;
    padding: 6px;
    font-size: 15px;
    height: 5px;
    border-radius: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in;
}

#hi2:hover {
    border-radius: 15px;
}

#sub-cen {
    font-size: 50px;
    font-family: 'Roboto Condensed',
        sans-serif;
    color: white;
    text-align: center;
    width: 450px;
    margin-top: 400px;
    border: 1px solid rgba(20, 20, 20, 0.1);
    box-shadow: 1px 1.5px rgba(0, 0, 0, 0.1);
    margin-left: -300px;
    border-radius: 2px;
    background: rgba(20, 20, 20, 0.2);
    text-shadow: 6px 6px 8px #2d2d2d;
    font-weight: bolder;
    text-shadow: 6px 6px 9px #141414;
}

#info {
    align-content: center;
    height: 500px;
}

#sub-inf {
    float: right;
    color: white;
    margin-top: -300px;
    width: 300px;
    margin-left: 800px;
    text-align: right;
    font-size: 40px;
    font-family: 'Roboto Condensed',
        sans-serif;
    text-shadow: 6px 6px 9px #141414;
}

#fad {
    background: linear-gradient(to left, #EAF2FB, #98A5AA);
}

nav a:hover {
    color: black;
}

.fa:hover {
    color: #e3e5e4;
}

* {
    box-sizing: border-box
}

.wrapper {
    padding: 5px;
    display: inline-block;
}

.card {
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.05);
    transition: 0.2s all ease;
    width: 30%;
    margin: 20px;
    padding: 2px;
    display: inline-block;
    color: #e3e5e4;
    background: #2d2d2d;
    align-content: center;
}

.card-item {
    display: inline-block;
}

.card-item p {
    padding: 0px;
    margin: 0px;
}

.card:hover {}

footer {
    background-color: rgb(0, 0, 0, 1);
    color: #e3e5e4;
    height: 80px;
    width: 2000px;
    display: inline-block;
}

footer a {
    color: white;
    padding: 10px;
}

footer a:hover {
    color: black;
    background-color: white;
    border-radius: 15px;
    border: 1px solid white;
}

footer i {
    font-size: 22px;
    padding: 10px;
    margin-top: 10px;
}