html {
    scroll-behavior: smooth;
}

body {
    font-family: Ubuntu;
    display: flex;
    background-image: url("/bg/about2b.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

h1 {
    margin: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
}

a i {
    margin-left: -450px;
    text-align: center;
    transition: all 0.5s ease;
}

a i:hover {
    font-size: 32px;
}

#hi1 {
    font-family: 'Roboto Condensed',
        sans-serif;
    color: #2d2d2d;
    margin: 0px;
    padding: 6px;
    font-size: 15px;
    border-radius: 5px;
    height: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in;
}

#hi1:hover {
    border-radius: 15px;
}

#hi2 {
    font-family: 'Roboto Condensed',
        sans-serif;
    margin: 0px;
    color: #2d2d2d;
    padding: 6px;
    font-size: 15px;
    height: 5px;
    border-radius: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in;
}

#hi2:hover {
    border-radius: 15px;
}

nav a:hover {
    color: black;
}

.fa:hover {
    color: #e3e5e4;
}

* {
    box-sizing: border-box
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 270px;
    display: inline-block;
    background-color: #ffffff;
    margin: auto;
    padding: 3px;
    text-align: center;
}

.contain {
    align-content: center;
    text-align: center;
    margin-left: 28px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

#cinfo {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#cinfo.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#cinfo1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#cinfo1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#cinfo2 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#cinfo2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#cinfo3 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#cinfo3.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#cinfo4 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#cinfo4.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}